@model DiemPortal.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectTag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectTag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectManager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectManager)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxAdministration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxAdministration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IbanTr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IbanTr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IbanUsd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IbanUsd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IbanEur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IbanEur)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
