@model DiemPortal.Models.Request

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Miktar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Miktar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoPozu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoPozu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TerminTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TerminTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AltYuklenici)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AltYuklenici)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RequestId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
